.container {
  padding: 2rem;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
}

.flex {
  display: flex !important;
}

.space_between {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.container h1 {
  font-weight: 600;
}

.homeCards {
  display: grid;
  gap: 1.2rem;
  margin-top: 1.2rem;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
}

.scheduleTasks {
  display: grid;
  gap: 1.2rem;
  margin-top: 1.2rem;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  min-height: 250px;
}

.emailTickets {
  display: grid;
  gap: 1.2rem;
  width: 100%;
  margin-top: 1.2rem;
  grid-template-columns: repeat(3, 1fr);
}

.emailTickets>*:first-child {
  grid-column: 1/3;
}

.emailTickets>*:last-child {
  grid-column: 3/4;
}

.emailTickets.body {
  padding: 1rem;
}

.tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  min-height: 250px;
}

.tickets p {
  text-align: center;
}

/* schedules */

.scheduleBody {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: auto auto;
  padding: 0.5rem 1rem 1.6rem;
  /* margin-bottom: 0.2rem; */
}

.scheduleBody>* {
  min-height: 3rem;
}

.scheduleBody>*:nth-child(2n+1) {
  text-align: right;
  color: #c1cbd5;
  font-size: small;
}

.scheduleBody>*:nth-child(2n) {
  margin-left: 1rem;
  font-size: 0.9rem;
  background-color: #f4f6fa;
  border-left: 3px solid #c1cbd5;
  border-radius: 6px;
  padding: 0.5rem 1rem 1.5rem;
  min-height: 3rem;
  margin-bottom: 0.1rem;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  margin-top: 10rem;
  margin-bottom: 5rem;
  font-size: 0.9rem;
}

.footer>span {
  margin-right: 0.7rem;
  position: relative;
  padding-right: 0.7rem;
}

.footer>span:last-child {
  margin-right: 0;
  padding-right: 0;
}

.footer>span::after {
  content: " ";
  width: 2px;
  height: 2px;
  top: 0.5rem;
  left: -0.7rem;
  border-radius: 1px;
  position: absolute;
  background-color: #3f4041;
}

@media (max-width:992px) {
  .container {
    margin-top: 4rem;
  }
}

@media (max-width: 768px) {
  .homeCards {
    grid-template-columns: repeat(2, 1fr);
  }
  .scheduleTasks {
    grid-template-columns: 1fr;
  }
  .emailTickets {
    grid-template-columns: 1fr;
  }
  .emailTickets>*:first-child {
    grid-column: 1/4;
  }
  .emailTickets>*:last-child {
    grid-column: 1/4;
  }
}

@media (max-width: 478px) {
  .container {
    padding: 1.2rem;
    margin-top: 5rem;
  }
  .container h1 {
    font-size: 1.4rem;
  }
}